body{

background-image: url(../imagenes/fondo.jpg);
background-repeat: no-repeat;
background-size: 100% 100%;
background-attachment: fixed;
background-color: transparent;



}

.container{

    margin-top: 80px;
    
}

.tabla{

    margin-top: 70px;
}

.mb-3{

    
    padding-left: 25%;
    padding-right: 25%;

}

.display-6{

    padding-top: 40px;

}




footer{
    
    margin-top: 130px ;
    border-top: solid thin rgba(128,128,128, 0.424);
    
    }

    .f-content{

        width: 40%;
        padding-top: 40px;
        color: white

    }

    footer form {

        padding-top: 40px;
        margin-top: 40px;
        background-color: rgba(223,138,138, 0.692);

    }

 